{% load static %}

{% block head %}
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="webmarket web development website build ecommerce">
    <meta name="webmarket" content="'webmarket'">
    <meta name="keywords" content="webmarket web development website build ecommerce">

    <!-- Title Page-->
    <title>Webmarket User Panel</title>

    <!-- Fontfaces CSS-->
     <link href="{% static 'userpanel/vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'userpanel/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous" media="all">
    
    <!-- Vendor CSS-->
    <link href="{% static 'userpanel/vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'userpanel/css/theme.css' %}" rel="stylesheet" media="all">

    

</head>

{% endblock %}