 <!-- HEADER MOBILE-->
 {% load static %}
 <header class="header-mobile d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <a href="{% url 'users:userpanel:index' %}">
                    <h1 class="logos"><span>Market</span><span>Web</span></h1>
                    {% comment %} <img src="{% static 'img/icons/logo.png' %}" alt="Webmarket dashboard logo" /> {% endcomment %}
                </a>
                <button class="hamburger" type="button">תפריט
                  
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                {% include 'userpanel/menu.html' %}
            </ul>
        </div>
    </nav>
</header>
<!-- END HEADER MOBILE-->