{% extends 'userpanel/base.html' %}
{% load static %}
{% load project_tags %}
{% block main %}

<style>
* {
  overflow-x: hidden;
}



</style>
<div  style="margin-top: 10%; padding-right: 5%;">
  {% for support in secu_list %}
  <div class="container">
    <div class="mt-5">
          <div class="d-style bgc-white btn btn-brc-tp btn-outline-green btn-h-outline-green btn-a-outline-green w-100 my-2 py-3 shadow-sm border-2">
            <!-- Pro Plan -->
            <div class="row align-items-center">
              <div class="col-12 col-md-4">
                <h4 class="pt-3 text-170 text-600 text-green-d1 letter-spacing">
                  {{support.plan_name}}
                </h4>
                <div class="text-secondary-d2 text-120">
                  {% if support.period == 'yearly' %}
                  <div class="text-danger-m3 text-90 mr-1 ml-n4 pos-rel d-inline-block">
                    &#8362;<span class="text-150 deleted-text">{{support.price|get_old_price}}</span>
                    <span>
                        <span class="d-block rotate-45 position-l mt-n475 ml-35 fa-2x text-400 border-l-2 h-5 brc-dark-m1"></span>
                    </span>
                  </div>
                  {% endif %}
                  <span class="align-text-bottom">&#8362;</span><span class="text-180">{{support.price}}</span> / {{support.period}}
                </div>
              </div>
              <ul class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
                {% if support.is_active %}
                <li class="mt-25">
                  <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1 mb-2"></i>
                  <span class="text-110">
                    סטטוס: פעיל 
                </span>
                </li>
                <li>
                  <i class="fa fa-check text-success-m2 text-110 mr-2 mt-2"></i>
                  <span>
                    <span class="text-110">תאריך רכישה: {{support.start_time|date:"d/m/Y"}}</span>
                  </span>
                </li>
                <li class="mt-25">
                  <i class="fa fa-check text-success-m2 text-110 mr-2"></i>
                  <span class="text-110">
                    תשלום הבא: {{support.next_payment|date:"d/m/Y"}}
                </span>
                </li>
                {% else %}
                <li class="mt-25">
                  <i class="fa fa-times text-danger-m3 text-110 mr-25 mt-1"></i>
                  <span class="text-110">
                    סטטוס: לא פעיל 
                </span>
                </li>{% endif %}
              </ul>
                
              <div class="col-12 col-md-4 text-center">
                
              {% if support.is_active %}
              <a href="{% url 'users:userpanel:support-details' support.pk %}" style="color:#fff!important;" class="f-n-hover btn btn-success btn-raised px-4 py-25 w-75 text-600">פרטים</a>
              {% else %}
                <a href="#" class="f-n-hover btn btn-success btn-raised px-4 py-25 w-75 text-600" style="color:#fff!important;">שלם עכשיו</a>
              {% endif %}
              
              </div>
            </div>
          </div>
        </div>
    </div>
    {% if support.is_active is not True %}
    <div class="mt-4">
      <small class="alert-danger">
          התמיכה שלך אינה פעילה, אנא לחץ שלם עכשיו על מנת להפעיל את התמיכה.
      </small></div>
      {% endif %}
  {% endfor %}
 
  {% if support_list|length > 1 %}
    <div class="mt-4">
      <small class="alert-danger">
          אם הינך מנסה לבצע שדרוג תוכנית, ברגע התשלום החדש יבוטל המנוי הקודם ויחויב על החלק היחסי בלבד עד תאריך התשלום בלבד.
      </small></div>
  {% endif %}
{% if secu_list is None %}
 <h3>אין לך תוכניות תמיכה פעילות</h3>
{% endif %}
 <h4 class="mt-5 mb-3"> התוכנית הזמינות: </h4>



<!--  
  <h1>תוספות אבטחה</h1>
  <p>כל אפשרויות האבטחה למניעת פריצה, בקשת כופר, התקפת מניעת שירות ועוד.</p>-->
    <section class="layoutprod mb-5"> 
  {% for prod in secu_prods %}

  <div class="fancy-cards">
  <div class="fancy-card">
    <div class="top">
      <div class="caption">
        <h3 class="title">{{prod.name}}</h3>
        <a href="" class="button">Find Out </a>
      </div>
    </div>
    <div class="middle"></div>
    <div class="bottom"></div>
  </div>
</div>

 {% endfor %}
</section>
<h3>בחר תוספות אבטחה או השאר ריק לוותר על השירות.</h3>
<form method="post"> {% csrf_token %} 
  <div class="content-wrapper" role="main">
    {% if messages or form.errors %}
        <div class="messages">
            <ul>
                {% if form.errors %}
                   {{form.errors}}
                {% endif %}
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="mt-5">
  תוכנית: {{ form.plan}} תקופה: {{form.period}}</div>
  <div class="container mt-5">
    {% if form.captcha.errors %}
    {% for field in form.captcha %}
        <div class="alert-danger" style="display: inline;"> {{form.errors.captcha}}</div>                                                
    {% endfor %}
    {% endif %}
    {{ form.captcha }}
  </div>
  <input type="submit" value="Save"> 
</form> 

<div class="mt-5">לפרטים על אפשרויות האבטחה
<a style="font-size: 1.5rem;" href="{% url 'main:support-price' %}"> לחץ כאן</a></div> 
{% endblock %}