<style>
  .featext {
    padding-left: 10%; 
    padding-right: 10%;
    margin-top: 33%;
  }
</style>
<div class="container">
    <div class="section-heading text-center">
        <h2 style="font-weight: bold;" class="mt-5 mb-5 wow fade-in-bottom">למה WEBMARKET?</h2>
        <p class="fade-in-bottom" style="font-size: 22px; text-align: center;">יחד עם דגש על איכות ואבטחת האתר, אנחנו מאמינים בשקיפות מלאה מול הלקוח. 
         <br> כל המחירים מוצגים מראש והלקוח יכול לראות את מצב בניית האתר כל רגע נתון בעזרת מערכת שירות הלקוחות הייעודית באתר.
            <br> אנחנו נלווה אותכם עם כל הידע והטכנולוגיה הדרושים לפני ואחרי הקמת האתר. </p>
    </div>
     <div class="row" style="display:flexbox;">
         <div class="col-md-4 col-sm-6 sm-padding">
             
             <div class="features-item wow fade-in-bottom" data-wow-delay="200ms">
                 <div class="bb pic-ctn">
                   <img src="https://picsum.photos/200/300?t=1" alt="" class="pic">
                   <img src="https://picsum.photos/200/300?t=2" alt="" class="pic">
                   <img src="https://picsum.photos/200/300?t=3" alt="" class="pic">
                 </div>
                 <h3 class="color-red pos-options mt-3">טכנולוגיה</h3>
                 <p class="featext">אנחנו שמים דגש על התחדשות ושימוש בטכנולוגיות הכי מתקדמות ובטוחות הקיימות. כל המוצרים והפיתוחים עומדים בסטנדרטים הגבוהים בשוק.</p>
             </div>
         </div>
         <div class="col-md-4 col-sm-6 sm-padding ">
             <div class="features-item active wow fade-in-bottom" data-wow-delay="400ms">
               <div class="bb pic-ctn">
                 <img src="https://picsum.photos/200/300?t=4" alt="" class="pic">
                 <img src="https://picsum.photos/200/300?t=5" alt="" class="pic">
                 <img src="https://picsum.photos/200/300?t=6" alt="" class="pic">
               </div>
                 <h3 class="color-blue pos-options mt-3">שירות</h3>
                 <p class="featext">במיוחד ללקוחות שלנו, בנוסף לזמינות טלפונית, בנינו מערכת יעודית לשירות לקוחות בתוך האתר, במערכת אפשרויות תמיכה, סטטוס בניית האתר ועוד.</p>
             </div>
         </div>
         <div class="col-md-4 col-sm-6 sm-padding">
             <div class="features-item wow fade-in-bottom" data-wow-delay="600ms">
               <div class="bb pic-ctn">
                 <img src="https://picsum.photos/200/300?t=7" alt="" class="pic">
                 <img src="https://picsum.photos/200/300?t=8" alt="" class="pic">
                 <img src="https://picsum.photos/200/300?t=9" alt="" class="pic">
               </div>
                <h3 class="color-green pos-options mt-3">מחיר</h3>
                 <p class="featext">ע"י תשלום מרוכז ובחירה של האפשרויות שאתם צריכים בלבד אנחנו מעניקים לכם מחיר נמוך במיוחד.</p>
             </div>
         </div>
     </div>
 </div>