<div class="outCircle movez">
    <div class="rotate anim1">
      <div class="counterrotate">
        <div class="inner" style="background: url('https://imgur.com/2ph3REy.png');">
        </div>
      </div>
    </div>
    <div class="rotate anim2">
      <div class="counterrotate">
        <div class="inner" style="background: url('https://imgur.com/IPQgbTC.png'); background-repeat: no-repeat;">
        </div>
      </div>
    </div>
    <div class="rotate anim3">
      <div class="counterrotate">
        <div class="inner" style="background: url('https://imgur.com/AfcU87N.png');">
        </div>
      </div>
    </div>
    <div class="rotate anim4">
      <div class="counterrotate">
        <div class="inner" style="background: url('https://imgur.com/9Fz4jHg.png'); background-repeat: no-repeat;">
        </div>
      </div>
    </div>
    <div class="rotate anim5">
      <div class="counterrotate">
        <div class="inner" style="background: url('https://upload.wikimedia.org/wikipedia/commons/0/0a/Python.svg');">
        </div>
      </div>
    </div>
      <div class="rotate anim6">
      <div class="counterrotate">
        <div class="inner" style="background: url('https://i.imgur.com/sfWm7QQ.png');">
        </div>
      </div>
    </div>
      <div class="rotate anim7">
      <div class="counterrotate">
        <div class="inner" style="background: url('https://i.imgur.com/tgUya7U.png');">
        </div>
      </div>
    </div>
      <div class="rotate anim8">
      <div class="counterrotate">
        <div class="inner" style="background: url('https://i.imgur.com/6QYXw28.png');">
        </div>
      </div>
    </div>
  </div>