<style>
  .carousel__face span {
    font-size: 0.5rem;
  }

</style>


<div class="section-heading text-center">
    <h2 style="font-weight: bold;" class="wow fade-in-bottom">אל תתפשר על איכות!</h2>
    <p>הצטרף אלינו<br> והאתר הבא יכול להיות שלך</p>
 </div>
 <div class="containershot wow fade-in-bottom" data-wow-delay="20ms">
   <div class="carousel2" style="color:white;">
     <div class="carousel__face"><span>webmarket.co.il</span></div>
     <div class="carousel__face"><span>webmarket.co.il</span></div>
     <div class="carousel__face"><span>webmarket.co.il</span></div>
     <div class="carousel__face"><span>webmarket.co.il</span></div>
     <div class="carousel__face"><span>webmarket.co.il</span></div>
     <div class="carousel__face"><span>webmarket.co.il</span></div>
     <div class="carousel__face"><span>webmarket.co.il</span></div>
     <div class="carousel__face"><span>webmarket.co.il</span></div>
     <div class="carousel__face"><span>webmarket.co.il</span></div>
   </div>
 </div>   