{% load static %}
{% block header %}
<div class="card card0 border-0">
    <div class="row d-flex">
        <div class="col-lg-6" style="margin-top: -50px;">
            <div class="card1 pb-5">
                <div class="row"> <a href='/'><img src="https://i.imgur.com/ysgpl64.png" class="logo"></a> </div>
                <div class="row px-3 justify-content-center" style="margin-top: -50px;"> 
                    <img style="width: 500px;" src = "{% static 'img/login-animate.svg' %}" alt="My Happy SVG"/> </div>
            </div>
        </div>
{% endblock %}


