{% extends 'users/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="col-lg-6">
    <div class="card2 card border-0 px-4 py-5">
        <form method="POST">
            {% csrf_token %}
        <div class="row px-3"> <label class="mb-1">
                <h6 class="mb-0 text-sm">הזן סיסמא ישנה</h6>
            </label> {% render_field form.old_password class="form-control mb-2" id="pwd" type="password" placeholder="הזן סיסמא ישנה" %}
        </div>
        <div class="row px-3"> <label class="mb-1">
                <h6 class="mb-0 text-sm">הזן סיסמא חדשה</h6>
            </label> {% render_field form.new_password1 class="form-control mb-2" id="pwd" type="password" placeholder="הזן סיסמא" %}
        </div>
        <div class="row px-3"> <label class="mb-1">
                <h6 class="mb-0 text-sm">הזן את הסיסמא שנית</h6>
            </label> {% render_field form.new_password2 class="form-control" id="pwd2" type="password" placeholder="הזן את הסיסמא שנית" %}</div>                 
        <div class="row px-3 mb-4">
            <div class="custom-control custom-control-inline"> 
                {% if form.errors %}
                    <p class="alert alert-danger alert-dismissible show mt-2" style="max-width: 94%;">{{ form.errors }}</p>
                {% endif %}
        </div>
        <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center mt-4">שנה סיסמא</button> </div>
    </form>
        
    </div>
</div>
</div>
{% endblock %}
{% block header %}
{% include 'users/header.html' %}
{% endblock %}

</html>