{% extends 'users/base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block content %}
<div class="col-lg-6">
    <div class="col-lg-6">
        <div class="card2 card border-0 px-4 py-5">
            <div class="row px-3"> <label class="mb-1">
                    <h6 class="mb-0 text-sm">לקוח יקר,</h6>
                    <br>
                    <p>שלחנו לך אימייל עם הוראות לאיפוס הסיסמא.</p>
                 </div>
            <div class="row mb-4 px-3"> <small class="font-weight-bold">לא קיבלת מייל? <a class="text-danger" href="{% url 'users:password_reset' %}">לחץ כאן</a></small> </div>
        </div>
    </div>
</div>
{% endblock %}

{% block header %}
{% include 'users/header.html' %}
{% endblock %}

</html>