{% extends 'users/base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block content %}
<div class="col-lg-6">
    <div class="card2 card border-0 px-4 py-5">
        <div class="row mb-4 px-3">
            <h6 class="mb-0 mr-4 mt-2">התחבר עם</h6>
            <div class="facebook text-center mr-3">
                <div class="fa fa-facebook"></div>
            </div>
            <div class="twitter text-center mr-3">
                <div class="fa fa-twitter"></div>
            </div>
            <div class="linkedin text-center mr-3">
                <div class="fa fa-linkedin"></div>
            </div>
        </div>
        <div class="row px-3 mb-4">
            <div class="line"></div> <small class="or text-center">או</small>
            <div class="line"></div>
        </div>
        <form method="POST">
            {% csrf_token %}
        <div class="row px-3"> <label class="mb-1">
                <h6 class="mb-0 text-sm">אימייל</h6>
            </label> {% render_field form.email class="form-control mb-2" style="max-width: 90%;" id="inputEmail" type="email" placeholder="הזן אימייל" autofocus="autofocus" %}
        </div>

                                                
        <div class="row px-3 mb-4">
            <div class="custom-control custom-checkbox custom-control-inline"> 
                {% if form.errors %}
                    <p class="alert alert-danger alert-dismissible show mt-2" style="max-width: 94%;">שם המשתמש או הסיסמא שלכם לא נכונים, אנא נסו שנית.</p>
                {% endif %}
            <p href="#" class="ml-auto mb-0 text-sm">אנא הזן את המייל שאיתו נרשמת.</p>
        </div>
        <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center mt-4">אפס</button> </div>
    </form>
        <div class="row mb-4 px-3"> <small class="font-weight-bold">אין לך את הפרטים? <a class="text-danger" href="{% url 'contact' %}">צור קשר</a></small> </div>
    </div>
</div>
</div>
{% endblock %}

{% block header %}
{% include 'users/header.html' %}
{% endblock %}

</html>