{% extends 'users/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}
<div class="col-lg-6">
    <div class="card2 card border-0 px-4 py-5">
        <div class="row mb-4 px-3">
            <h6 class="mb-3 mr-4 mt-2">התחבר עם</h6>
            
           <div class="row">
              <a href="{% provider_login_url "google" %}" class="me-3 columnlogin btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google"></i> Google</a></hr>
           
                <a href="{% provider_login_url "facebook" method="oauth2" %}" class="columnlogin btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Facebook</a>  
            </div>
        </div>
        <div class="row px-3 mb-4">
            <div class="line"></div> <small class="or text-center" style="display: inline;">או</small>
            <div class="line"></div>
        </div>
        <form method="POST">
            {% csrf_token %}
        <div class="row px-6"> <label class="mb-1">
                {% if form.email.errors %}
                {% for field in form.email %}
                <td>
                    <div class="alert-danger" style="display: inline;"> {{form.errors.email}}</div>   
                </td>                                             
                {% endfor %}
                {% endif %}
                <h6 class="mb-0 text-sm">אימייל</h6> 
            </label> {% render_field form.email class="form-control mb-2" id="inputEmail" style="text-align: right;" type="email" placeholder="הזן אימייל" style="border-radius:15px;" autofocus="autofocus" %}
        </div>
        <div class="row px-6"> <label class="mb-1">
            {% if form.password1.errors %}
            {% for field in form.password1 %}
                <div class="alert-danger" style="display: inline;"> {{form.errors.password1}}</div>                                                
            {% endfor %}
            {% endif %}
                <h6 class="mb-0 text-sm">סיסמא</h6>
            </label> {% render_field form.password1 class="form-control" id="pwd" type="password" placeholder="הזן סיסמא" style="border-radius:15px;" %}
        </div>
        <div class="row px-6"> <label class="mb-1">
            {% if form.password2.errors %}
            {% for field in form.password2 %}
                <div class="alert-danger" style="display: inline;"> {{form.errors.password2}}</div>                                                
            {% endfor %}
            {% endif %}
            <h6 class="mb-0 text-sm">וודא סיסמא</h6>
        </label> {% render_field form.password2 class="form-control" id="pwd2" type="password" placeholder="הזן את הסיסמא שנית" style="border-radius:15px;" %}
        </div>
        <div class="container mt-5">
            {% if form.captcha.errors %}
            {% for field in form.captcha %}
                <div class="alert-danger" style="display: inline;"> {{form.errors.captcha}}</div>                                                
            {% endfor %}
            {% endif %}
            {{ form.captcha }}
        </div>
        <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center mt-5" style="border-radius: 10px;">הרשם</button> </div>
    </form>
        <div class="row mb-4 px-3"> <small class="font-weight-bold">יש לך חשבון? <a class="text-danger" href="{% url 'users:login' %}">התחבר</a></small> </div>
    </div>
    </div>
{% endblock %}
{% block header %}
{% include 'users/header.html' %}
{% endblock %}
{% block ufooter %}
{% endblock %}

</html>