<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Saas Startup App HTML Template">
        <meta name="author" content="DynamicLayers">
       
        <title>Truno | Saas Startup App HTML Template</title>
        
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
		
        <link rel="stylesheet" href="css/fontawesome.min.css">
        <link rel="stylesheet" href="css/themify-icons.css">
        <link rel="stylesheet" href="css/elegant-line-icons.css">
        <link rel="stylesheet" href="css/truno-icons.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/slicknav.min.css">
        <link rel="stylesheet" href="css/pricing-table.css">
        <link rel="stylesheet" href="css/odometer.min.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/venobox.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/responsive.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body data-spy="scroll" data-target="#mainmenu" data-offset="80">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <div class="site-preloader-wrap">
            <div class="spinner"></div>
        </div><!-- Preloader -->
        
        <header id="header" class="header-section">
            <div class="container">
                <nav class="navbar ">
                    <a href="index.html" class="navbar-brand"><img src="img/logo-dark.png" alt="Saasbiz"></a>
                    <div class="d-flex menu-wrap">
                       <div id="mainmenu" class="mainmenu">
                           <ul class="nav">
                               <li><a data-scroll class="nav-link active" href="#home">Home<span class="sr-only">(current)</span></a> 
                                    <ul>
                                       <li><a href="index.html">Home 01</a></li>
                                       <li><a href="index-2.html">Home 02</a></li>
                                       <li><a href="index-3.html">Home 03</a></li>
                                       <li><a href="index-4.html">Home 04</a></li>
                                    </ul>
                                </li>
                                <li><a data-scroll class="nav-link" href="index.html#feature">Features</a></li>
                                <li><a data-scroll class="nav-link" href="index.html#screenshots">Screenshots</a></li>
                                <li><a data-scroll class="nav-link" href="index.html#reviews">Reviews</a></li>
                                <li><a data-scroll class="nav-link" href="index.html#pricing">Pricing</a></li>
                                <li><a href="#">Pages</a> 
                                    <ul>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="features.html">Features</a></li>
                                       <li><a href="blog-grid.html">Blog Grid</a></li>
                                       <li><a href="blog-classic.html">Blog Classic</a></li>
                                       <li><a href="blog-single.html">Blog Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                       </div>
                       <div class="header-right">
                             <a class="menu-btn anim-btn" href="#">Get Started<span></span></a>
                        </div>
                    </div>
                </nav>
            </div>
		</header><!--/. header-section -->
       
        <div class="header-height"></div>
        
        <section class="page-header">
            <div class="container">
                <div class="page-content text-center">
                    <h2>Know More About Us</h2>
                    <p>Make your awesome business idea a reality with Truno, the fresh new theme <br>from Mikado - custom made for modern startups.</p>
                </div>
            </div>
        </section><!--/. page-header -->
        
        <section class="content-section content-3 pos-rel padding sm-pb-none">
           <div class="ov-shape-4 d-none d-lg-block"></div>
            <div class="container">
                <div class="content-wrap row align-items-center">
                    <div class="col-lg-6 sm-padding">
                        <div class="content-info">
                            <h2>The #1 Tool For Crerating <br>Stunning Marketing</h2>
                            <p>We provide marketing services to startups and small businesses to looking for a partner of their digital media, design &amp; development, lead generation.</p>
                            <p>It is a long established fact that a reader will be distract ed by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using and content here.</p>
                            <a class="default-btn" href="#">See Pricing<span></span></a>
                        </div>
                    </div>
                    <div class="col-lg-6 sm-padding">
                        <img src="img/dashboard-2.png" alt="Dashboard Mockup">
                    </div>
                </div>
            </div>
        </section><!--/. content-section -->
        
        <section class="content-section content-3 pos-rel padding sm-pb-none">
           <div class="ov-shape-3 d-none d-lg-block"></div>
           <div class="dashboard-moc d-none d-lg-block"></div>
            <div class="container">
                <div class="content-wrap row align-items-center">
                    <div class="col-lg-6">
                        <img src="img/dashboard-1.png" class="d-lg-none" alt="Dashboard Mockup">
                    </div>
                    <div class="col-lg-6">
                        <div class="content-info">
                            <h2>The #1 Tool For Crerating <br>Stunning Marketing</h2>
                            <p>We provide marketing services to startups and small businesses to looking for a partner of their digital media, design &amp; development, lead generation.</p>
                            <p>It is a long established fact that a reader will be distract ed by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using and content here.</p>
                            <a class="default-btn" href="#">See Pricing<span></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--/. content-section -->
        
        <section class="team-section pt-100">
            <div class="container">
               <div class="section-heading mb-40 text-center">
                   <h2>Our Expart Team</h2>
                   <p>We provide marketing services to startups and small businesses to looking for a partner <br>of their digital media, design &amp; development, lead generation.</p>
               </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6 sm-padding">
                        <div class="team-item">
                            <img src="img/team-1.jpg" alt="img">
                            <div class="team-content">
                                <h3>Fiorella Ibáñez <span>Designer</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 sm-padding">
                        <div class="team-item">
                            <img src="img/team-2.jpg" alt="img">
                            <div class="team-content">
                                <h3>Kyle Frederick <span>Developer</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 sm-padding">
                        <div class="team-item">
                            <img src="img/team-3.jpg" alt="img">
                            <div class="team-content">
                                <h3>Mitchell Alling <span>Marketer</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 sm-padding">
                        <div class="team-item">
                            <img src="img/team-4.jpg" alt="img">
                            <div class="team-content">
                                <h3>Lezlie Taylor <span>Designer</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--/. team-section -->
        
        <section class="counter-section pt-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 sm-padding">
                        <div class="counter-item wow fadeInUp" data-wow-delay="200ms">
                            <i class="icon-download color-red"></i>
                            <h3><span class="odometer" data-count="2589">00</span></h3>
                            <h4>Tottal Downloaded</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 sm-padding">
                        <div class="counter-item wow fadeInUp" data-wow-delay="300ms">
                            <i class="icon-bargraph color-blue"></i>
                            <h3><span class="odometer" data-count="1964">00</span></h3>
                            <h4>Grow On Year</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 sm-padding">
                        <div class="counter-item wow fadeInUp" data-wow-delay="400ms">
                            <i class="icon-tools color-yellow"></i>
                            <h3><span class="odometer" data-count="7921">00</span></h3>
                            <h4>Clients Reviews</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 sm-padding">
                        <div class="counter-item wow fadeInUp" data-wow-delay="500ms">
                            <i class="icon-ribbon color-green"></i>
                            <h3><span class="odometer" data-count="5385">00</span></h3>
                            <h4>People Subscribed</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--/. counter-section -->
        
        <section class="testimonial-section pos-rel padding">
            <div class="overlay-shape-left"></div>
            <div class="overlay-shape-right"></div>
            <div class="anim-elements">
                <div class="anim-element"></div>
                <div class="anim-element"></div>
                <div class="anim-element"></div>
                <div class="anim-element"></div>
                <div class="anim-element"></div>
            </div>
            <div class="container">
               <div class="section-heading mb-40 text-center">
                   <h2>What People Say!</h2>
                   <p>We provide marketing services to startups and small businesses to looking for a partner <br>of their digital media, design &amp; development, lead generation.</p>
               </div>
                <div id="testimonial-carousel" class="testimonial-carousel owl-carousel">
                    <div class="testimonial-item">
                        <div class="testi-thumb">
                            <img src="img/testi-1.jpg" alt="img">
                        </div>
                        <div class="author-details">
                           <div class="author-info">
                               <h3>Fiorella Ibáñez<span>Designer</span></h3>
                           </div>
                            <ul class="rating">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <p>We provide marketing services startups and small businesses to looking for a partner of their digital media, design development lead generation.</p>
                    </div>
                    <div class="testimonial-item">
                        <div class="testi-thumb">
                            <img src="img/testi-2.jpg" alt="img">
                        </div>
                        <div class="author-details">
                           <div class="author-info">
                               <h3>Eldie Goldey<span>Developer</span></h3>
                           </div>
                            <ul class="rating">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <p>We provide marketing services startups and small businesses to looking for a partner of their digital media, design development lead generation.</p>
                    </div>
                    <div class="testimonial-item">
                        <div class="testi-thumb">
                            <img src="img/testi-3.jpg" alt="img">
                        </div>
                        <div class="author-details">
                           <div class="author-info">
                               <h3>Kyle Frederick<span>Marketer</span></h3>
                           </div>
                            <ul class="rating">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <p>We provide marketing services startups and small businesses to looking for a partner of their digital media, design development lead generation.</p>
                    </div>
                    <div class="testimonial-item">
                        <div class="testi-thumb">
                            <img src="img/testi-4.jpg" alt="img">
                        </div>
                        <div class="author-details">
                           <div class="author-info">
                               <h3>Peter Scezency<span>Designer</span></h3>
                           </div>
                            <ul class="rating">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <p>We provide marketing services startups and small businesses to looking for a partner of their digital media, design development lead generation.</p>
                    </div>
                </div>
            </div>
        </section><!--/. testimonial-section -->
        
        <section class="download-section pos-rel padding">
           <div class="anim-elements">
                <div class="anim-element"></div>
                <div class="anim-element"></div>
                <div class="anim-element"></div>
                <div class="anim-element"></div>
                <div class="anim-element"></div>
            </div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-8 xs-padding">
                        <div class="download-content">
                            <h2 class="mb-20">Download Truno App Now!</h2>
                            <p class="mb-30">Make your awesome business idea a reality with Truno, the fresh new theme <br> from Mikado - custom made for modern startups.</p>
                            <div class="btn-group-left">
                                <a href="#"><img src="img/appstore.png" alt="appstore"></a>
                                <a href="#"><img src="img/playstore.png" alt="playstore"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 xs-padding">
                        <img src="img/content-2.png" alt="img">
                    </div>
                </div>
            </div>
        </section><!--/. download-section -->
		
        <footer class="widget-section">
            <div class="container">
                <div class="row padding">
                    <div class="col-lg-3 col-sm-6 sm-padding">
                        <div class="widget-content">
                            <a href="#"><img src="img/logo-light.png" alt="brand"></a>
                            <p>Building your own home is about desire, fantasy. But it’s achievable anyone can do it.</p>
                            <ul class="widget-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 sm-padding">
                        <div class="widget-content">
                            <h4>Company</h4>
                            <ul class="widget-links">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Our Services</a></li>
                                <li><a href="#">Clients Reviews</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 sm-padding">
                        <div class="widget-content">
                            <h4>Headquaters</h4>
                            <p>962 Fifth Avenue, 3rd Floor New York, NY10022</p>
                            <span>Hello@dynamiclayers.net</span>
                            <span>(+123) 456 789 101</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 sm-padding">
                        <div class="widget-content">
                            <h4>Newslatter Subscription</h4>
                            <p>Subscribe and get 10% off from our <br>architecture company.</p>
                            <div class="subscribe-box clearfix">
                                <div class="subscribe-form-wrap">
                                    <form action="#" class="subscribe-form">
                                        <input type="email" name="email" id="subs-email" class="form-input" placeholder="Enter Your Email Address...">
                                        <button type="submit" class="submit-btn anim-btn">Subscribe <span></span></button>
                                        <div id="subscribe-result">
                                            <p class="subscription-success"></p>
                                            <p class="subscription-error"></p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-section text-center">
                    <p>&copy; <span id="currentYear"></span> Truno Powered by DynamicLayers</p>
                </div><!-- /.footer-section -->
            </div>
        </footer><!--/.widget-section-->

		<a data-scroll href="#header" id="scroll-to-top"><i class="ti-arrow-up"></i></a>
	
		<!-- jQuery Lib -->
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
		<script src="js/vendor/bootstrap.min.js"></script>
		<script src="js/vendor/tether.min.js"></script>
		<script src="js/vendor/jquery.slicknav.min.js"></script>
		<script src="js/vendor/owl.carousel.min.js"></script>
		<script src="js/vendor/smooth-scroll.min.js"></script>
		<script src="js/vendor/jquery.ajaxchimp.min.js"></script>
        <script src="js/vendor/pricing-switcher.js"></script>
        <script src="js/vendor/jquery.waypoints.v2.0.3.min.js"></script>
        <script src="js/vendor/odometer.min.js"></script>
		<script src="js/vendor/wow.min.js"></script>
        <script src="js/vendor/venobox.min.js"></script>
		<script src="js/main.js"></script>

    </body>
</html>