{% load static %}


<head>
    <!-- **CSS - stylesheets** -->
	<link id="layer-slider" rel="stylesheet"  href="{% static 'slider/css/layerslider.css' %}" media="all" /> 
  
    <!-- **Google - Fonts** -->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>  
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>

<body>
<!-- **Wrapper** -->
<div class="wrapper"> 
	<div class="inner-wrapper">
        <!-- **Main - Starts** --> 
		<div id="main">
        	<!-- **banner - Starts** -->
            <div class="banner">
                <!-- **Slider Section** -->
                <div id="layerslider_9" class="ls-wp-container" style="width:100%;height:645px;max-width:1920px;margin:0 auto;margin-bottom: 0px;">
                    
                    <div class="ls-slide" data-ls="slidedelay:10000;transition2d:4;">
                        <div class="ls-l" style="top:160px;left:67px;letter-spacing: 3.9px; font-weight:300; z-index:5;padding-left:0px;font-family:'Lato', 'Open Sans', sans-serif;font-size:52px;line-height:0px;color:#101017;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:-100;durationin:2000;delayin:2500;transformoriginin:left 50% 0;offsetxout:0;rotateyout:-90;transformoriginout:left 50% 0;"><span style="color:#ed4a52;">Medical</span> with</div>
                        <div class="ls-l" style="top:284px;left:54px;font-weight:normal; z-index:3;font-family:'Lato';font-size:13px;line-height:26px;color:#686868;white-space: nowrap;" data-ls="offsetxin:-100;durationin:2000;delayin:4000;">We present you the <strong>modern multi-purpose HTML5 Template.</strong> <br>Can be used by creatives who likes to make a portfolio of their <br>own or create a website for a company.</div>
                        <div class="ls-l" style="top:220px;left:65px;font-weight:700; z-index:3;font-family:'Lato';font-size:71px;line-height:0px;color:#08bbb7;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:50;durationin:2000;delayin:3000;">PRIORITY</div>
                        <div class="ls-l" style="top:101px;left:70px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:100;delayin:3000;"><span style="background: #00a5df; color: #fff; display: inline-block; font-family: 'Lato', sans-serif; font-size: 20px; font-weight: 300; line-height: 24px; margin: 10px 0 0; padding: 0 7px 0 7px; position: relative; text-decoration: none; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; ">Perfect</span> </div>
                        <img class="ls-l" style="top:123px;left:30px;white-space: nowrap;" data-ls="durationin:1600;delayin:3500;rotateyin:90;" src="{% static 'slider/images/sliders/blank.gif' %}" data-src="{% static 'slider/images/sliders/quote.png' %}" alt="image">
                        <img class="ls-l" style="top:405px;left:300px;white-space: nowrap;" data-ls="offsetxin:-150;delayin:5500;rotateyin:180;" src="{% static 'slider/images/sliders/blank.gif' %}" data-src="{% static 'slider/images/sliders/html-logo.png' %}" alt="image">
                        <img class="ls-l" style="top:405px;left:60px;white-space: nowrap;" data-ls="offsetxin:0;delayin:4500;rotateyin:180;" src="{% static 'slider/images/sliders/blank.gif' %}" data-src="{% static 'slider/images/sliders/css3-logo.png' %}" alt="image">
                        <img class="ls-l" style="top:-27px;left:562px;z-index:5;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:300;durationin:1500;delayin:500;" src="{% static 'slider/images/sliders/blank.gif' %}" data-src="{% static 'slider/images/sliders/doctor.png' %}" alt="image">
                        <img class="ls-l" style="top:6px;left:-20px;white-space: nowrap;" data-ls="offsetxin:4;durationin:10000;easingin:linear;rotatein:-360;parallaxlevel:2;" src="{% static 'slider/images/sliders/blank.gif' %}" data-src="{% static 'slider/images/sliders/dna1.png' %}" alt="image">
                        <img class="ls-l" style="top:432px;left:190px;white-space: nowrap;" data-ls="offsetxin:-150;delayin:5000;rotateyin:180;" src="{% static 'slider/images/sliders/blank.gif' %}" data-src="{% static 'slider/images/sliders/plus.png' %}" alt="image">
                        <img class="ls-l" style="top:254px;left:365px;white-space: nowrap;" data-ls="offsetxin:0;durationin:10000;delayin:3000;easingin:linear;rotatein:360;parallaxlevel:-2;" src="{% static 'slider/images/sliders/blank.gif' %}" data-src="{% static 'slider/images/sliders/dna2.png' %}" alt="image">
                        <img class="ls-l" style="top:-30px;left:454px;white-space: nowrap;" data-ls="offsetxin:0;durationin:10000;delayin:2000;easingin:linear;rotatein:360;parallaxlevel:-4;" src="{% static 'slider/images/sliders/blank.gif' %}" data-src="{% static 'slider/images/sliders/dna3.png' %}" alt="image">
                        <img class="ls-l" style="top:427px;left:556px;white-space: nowrap;" data-ls="offsetxin:0;durationin:10000;delayin:1500;easingin:linear;rotatein:-360;parallaxlevel:1;" src="{% static 'slider/images/sliders/blank.gif' %}" data-src="{% static 'slider/images/sliders/dna4.png' %}" alt="image">
                    </div>
                    <div class="ls-slide" data-ls="slidedelay:10000;transition2d:4;">
                        <div class="ls-l" style="top:170px;left:820px;font-weight:300; z-index:5; text-transform: uppercase; letter-spacing:3px;padding-left:0px;font-family:'Lato', 'Open Sans', sans-serif;font-size:40px;line-height:46px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:-100;durationin:2000;delayin:2500;transformoriginin:left 50% 0;offsetxout:0;rotateyout:-90;transformoriginout:left 50% 0;">Hosting with</div>
                        <div class="ls-l" style="top:308px;left:830px;font-weight:normal; z-index:3; text-align: center;font-family:'Lato';font-size:13px;line-height:26px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:-100;durationin:2000;delayin:4000;">With multiple demo types <strong>PRIORITY</strong> can be used as a <br>template for a multipurpose website with lots of<br>awesome features.</div>
                        <div class="ls-l" style="top:230px;left:820px;font-weight:700; z-index:3;font-family:'Lato';font-size:70px;line-height:26px;color:#21c2f8;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:50;durationin:2000;delayin:3000;">PRIORITY</div>
                        <div class="ls-l" style="top:135px;left:820px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:100;delayin:3000;"><span style="background: #00a5df; color: #fff; display: inline-block; font-family: 'Lato', sans-serif; font-size: 20px; font-weight: 300; line-height: 24px; margin: 10px 0 0; padding: 0 7px 0 7px; position: relative; text-decoration: none; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; ">Better</span> </div>
                        <img class="ls-l" style="top:405px;left:1070px;white-space: nowrap;" data-ls="offsetxin:-150;delayin:5500;rotateyin:180;" src="{% static 'slider/images/sliders/blank.gif' %}" data-src="{% static 'slider/images/sliders/html-logo.png' %}" alt="image">
                        <img class="ls-l" style="top:405px;left:790px;white-space: nowrap;" data-ls="offsetxin:0;delayin:4500;rotateyin:180;" src="{% static 'slider/images/sliders/blank.gif' %}" data-src="{% static 'slider/images/sliders/css3-logo.png' %}" alt="image">
                        <img class="ls-l" style="top:0px;left:-10px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:-300;durationin:700;delayin:2500;" src="{% static 'slider/images/sliders/blank.gif' %}" data-src="{% static 'slider/images/sliders/hosting-left-image.png' %}" alt="image">
                        <img class="ls-l" style="top:162px;left:424px;white-space: nowrap;" data-ls="offsetxin:0;delayin:500;rotatein:180;parallaxlevel:2;" src="{% static 'slider/images/sliders/blank.gif' %}" data-src="{% static 'slider/images/sliders/circle.png' %}" alt="image">
                        <img class="ls-l" style="top:432px;left:940px;white-space: nowrap;" data-ls="offsetxin:-150;delayin:5000;rotatein:180;rotateyin:180;" src="{% static 'slider/images/sliders/blank.gif' %}" data-src="{% static 'slider/images/sliders/plus2.png' %}" alt="image">
                        <img class="ls-l" style="top:228px;left:473px;white-space: nowrap;" data-ls="delayin:1500;rotatexin:180;" src="{% static 'slider/images/sliders/blank.gif' %}" data-src="{% static 'slider/images/sliders/hosting-image.png' %}" alt="image">
                    </div>
                	
                </div>
            </div><!-- **banner - Ends** -->
        	
    </div><!-- **inner-wrapper - End** -->
        
	<!-- **jQuery** <script src="{% static 'nav/js/jquery-3.3.1.min.js' %}"></script>-->  
	
    <script src="{% static 'slider/js/jquery-1.10.2.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'slider/js/layerslider.transitions.js' %}"></script> 
    <script src="{% static 'slider/js/layerslider.kreaturamedia.jquery.js' %}"></script> 
    <script src="{% static 'slider/js/greensock.js' %}"></script> 
    
    <script data-cfasync="false" type="text/javascript">var lsjQuery = jQuery;</script><script data-cfasync="false" type="text/javascript"> lsjQuery(document).ready(function() { if(typeof lsjQuery.fn.layerSlider == "undefined") { lsShowNotice('layerslider_9','jquery'); } else { lsjQuery("#layerslider_9").layerSlider({responsiveUnder: 1240, layersContainer: 1170, startInViewport: false, pauseOnHover: false, forceLoopNum: false, autoPlayVideos: false, skinsPath: "{% static 'slider/js/layerslider/skins/' %}"}) } }); </script>

</body>